.dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 100px;
  &__container {
    margin: 10px;
  }

  select {
    width: 150px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
  }
}
