.dropdown {
  position: relative;
  display: inline-flex;
  gap: 15px;
  border-radius: 11px;
  // border: 1px solid #ffffff;
  padding: 20px;
  margin: 20px 80px;
  width: 120px;
  background: #ffffff;

  &__div {
    background: none;
    border: none;
    margin-left: 220px;
  }
  &__menu {
    z-index: 1;
  }
  &__menu.show {
    display: block;
  }
  &:hover {
    cursor: pointer;
  }
  /* le survol */
  &__ingredients:hover,
  &__ustensiles:hover,
  &__appareils:hover {
    cursor: pointer;
  }

  &__input {
    // position: relative;
    text-overflow: ellipsis;

    padding: 10px;
    width: 140px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  &__input.show {
    display: block;
  }

  .fa-search {
    position: absolute;
    transform: translate(-50%, 50%);
    top: 2%;
    left: 80%;
  }

  &__ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    // border: 1px solid #ccc;
    background-color: #fff;
  }

  &__ul li {
    padding: 8px;
    cursor: pointer;
  }
  &__ul li:hover {
    background-color: $primary-color;
  }

  &__ul.show {
    display: block;
  }
}
