.dropdown {
  position: relative;
  top: 50%;
  left: 10%;
  transform: translate(-50%, 50%);
  display: inline-flex;
  border-radius: 11px;
  padding: 20px;
  background: #ffffff;
  gap: 20px;
  margin: 100px;

  &__div {
    background: none;
    border: none;
  }
  &__menu {
    z-index: 1;
  }
  &__menu.show {
    display: block;
  }
  &:hover {
    cursor: pointer;
  }
  /* le survol */
  &__ingredients:hover,
  &__ustensiles:hover,
  &__appareils:hover {
    cursor: pointer;
  }

  &__input {
    position: relative;
    text-overflow: ellipsis;
    padding: 10px;
    width: 110px;
    border-radius: 5px;
    border: none;
    outline: none;
    display: none;
    top: 30px;
    right: 110px;
  }
  &__input.show {
    display: block;
  }

  .fa-search {
    position: absolute;
    transform: translate(-50%, 50%);
    top: 75px;
    right: 150px;
  }
  .hidden {
    display: none;
  }

  &__ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;

    background-color: #fff;
  }

  &__ul li {
    padding: 8px;
    cursor: pointer;
  }
  &__ul li:hover {
    background-color: $primary-color;
  }

  &__ul.show {
    display: block;
  }
}
