// *** reset css ***
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// ************
body,
html {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
  font-family: $font-family-text;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}
