.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 10px;
  padding-left: 40px;

  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  &__recette {
    font-family: $font-family-title;
    font-size: 1.6rem;
    font-weight: 400;
    color: #1b1b1b;
    background: none;
    padding-right: 80px;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
/* Media queries pour les petits écrans */
@media screen and (max-width: 768px) {
  #count {
    margin: 10px auto;
  }
  .filters__recette {
    padding-left: 50px;
  }
}
