.header {
  position: relative;
  height: 100vh;
  margin: 0;

  &__logo {
    width: 207px;
    height: 25px;
  }

  &__text {
    @include absolute-position(50%, 50%);
    text-align: center;
    h2 {
      color: $primary-color;
      font-size: 44px;
    }
  }
}
