.tag {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  align-items: center;
  background: $primary-color;
  padding: 1.2em;
  border-radius: 0.7em;

  .icon-close {
    cursor: pointer;
  }
}

/* Media queries pour les petits écrans */
@media screen and (max-width: 768px) {
  .tag {
    margin-left: 50px;
    padding: 1em;
  }

  .tag .icon-close {
    margin-top: 0.5em;
  }
}
