.dropdown {
  // position: relative;

  display: inline-flex;
  border-radius: 11px;
  padding: 17px 16px;
  background: #ffffff;

  margin: 20px 100px;

  &__header {
    display: flex;
    gap: 15px;
    justify-content: space-between;
  }
  &__div {
    background: none;
    border: none;
    font-size: 21px;
    font-weight: 400;
    font-family: $font-family-title;
    // margin-left: 380px;
  }
  &__menu {
    z-index: 1;
  }
  &__menu.show {
    display: block;
  }
  &:hover {
    cursor: pointer;
  }
  /* le survol */
  &__ingredients:hover,
  &__ustensiles:hover,
  &__appareils:hover {
    cursor: pointer;
  }

  &__input {
    position: relative;
    text-overflow: ellipsis;
    border-radius: 5px;
    padding: 12px;
    display: none;
    top: 15px;

    cursor: pointer;
  }
  &__input.show {
    display: block;
  }

  .fa-search {
    position: relative;
    bottom: 13px;
    left: 165px;
    display: none;
  }
  .fa-search.show {
    display: block;
  }

  &__ul {
    display: none;
    list-style-type: none;
    background-color: #fff;
    width: 100%;
    padding: 8px 0;
  }

  &__ul li {
    cursor: pointer;
    line-height: 2;
  }
  &__ul li:hover {
    background-color: $primary-color;
  }

  &__ul.show {
    display: block;
  }
}
