.dropdown {
  position: relative;
  color: grey;
  z-index: 99;
  width: 220px;

  &__filters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 63px;
    padding-left: 102px;
    justify-content: space-between;
    margin: 20px;
  }
  &__category {
    color: grey;
  }
  &__recette {
    align-items: center;
    font-family: $font-family-title;
    font-size: 1.6rem;
    font-weight: 400;
    color: #1b1b1b;
    background: none;
  }
  &__button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 17px 16px;
    border-radius: 11px;
    font-size: 1.6rem;
    border: 1px solid #c6c6c6;
    background-color: #fff;
    color: grey;

    cursor: pointer;
  }
  &__content {
    background-color: #fff;
    border-radius: 0 0 0.8em 0.8em;
    position: absolute;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    width: 100%;
    top: 70%;
  }

  &__input {
    cursor: pointer;

    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    outline-color: grey;
    margin: 15px;
  }

  &__search {
    position: relative;
    display: flex;
    width: 100%;
  }

  .fa-search {
    position: absolute;
    top: 48%;
    left: 170px;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  &__search i.fa-xmark {
    position: absolute;
    cursor: pointer;
    display: none;
    transform: translate(-50%, -50%);
    top: 48%;
    left: 150px;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    width: 215px;
    max-height: 330px;
    overflow-y: auto;
    // text-transform: uppercase;
    padding-top: 10px;
  }

  &__list li {
    cursor: pointer;
    line-height: 2;
    padding: 0 1em;
  }
  &__list li:hover {
    background-color: $primary-color;
  }

  &__message {
    color: red;
    margin-left: 35px;
    display: none;
  }
  li::first-letter {
    text-transform: capitalize;
  }

  &__color {
    position: absolute;
    top: 100%;
    left: 0;
    background: $primary-color;
    padding: 15px;
    width: 220px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__results:hover {
    display: block;
    display: flex;
    flex-direction: column;
  }

  &__btn {
    text-align: right;
  }
}
