@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
  font-family: "Manrope", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.dropdown {
  position: relative;
  color: grey;
  z-index: 99;
  width: 220px;
}
.dropdown__filters {
  display: inline-flex;
  align-items: center;
  gap: 63px;
  justify-content: space-evenly;
  margin: 20px;
}
.dropdown__category {
  color: grey;
}
.dropdown__recette {
  align-items: center;
  font-family: "Anton", sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #1b1b1b;
  background: none;
}
.dropdown__button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 17px 16px;
  border-radius: 11px;
  font-size: 1.6rem;
  border: 1px solid #c6c6c6;
  background-color: #fff;
  color: grey;
  cursor: pointer;
}
.dropdown__content {
  background-color: #fff;
  border-radius: 0 0 0.8em 0.8em;
  position: absolute;
  border-left: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  width: 100%;
  top: 90%;
}
.dropdown__input {
  cursor: pointer;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 4px;
  outline-color: grey;
  margin: 15px;
}
.dropdown__search {
  position: relative;
  display: flex;
  width: 100%;
}
.dropdown .fa-search {
  position: absolute;
  top: 48%;
  left: 180px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.dropdown__search i.fa-xmark {
  position: absolute;
  cursor: pointer;
  display: none;
  transform: translate(-50%, -50%);
  top: 48%;
  left: 160px;
}
.dropdown__list {
  list-style-type: none;
  padding: 0;
  width: 215px;
  max-height: 330px;
  overflow-y: auto;
  padding-top: 20px;
}
.dropdown__list li {
  cursor: pointer;
  line-height: 2;
  padding: 0 1em;
}
.dropdown__list li:hover {
  background-color: #ffd15b;
}
.dropdown li::first-letter {
  text-transform: capitalize;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 102px;
  gap: 48px;
  justify-content: space-between;
  margin: 20px;
}

.recipe {
  position: relative;
  flex: 1;
  padding: 20px;
  margin-right: 20px;
}
.recipe .recipe:last-child {
  margin-right: 0; /* pour enlever la marge à droite de la dernière carte */
}
.recipe img {
  object-fit: cover;
  width: 100%;
  height: 253px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
}
.recipe__section {
  font-size: 14px;
  font-weight: 500;
  line-height: 0;
}
.recipe__title {
  font-size: 18px;
  font-weight: 400;
  color: #1b1b1b;
  font-family: "Anton", sans-serif;
}
.recipe__title, .recipe__ingredient, .recipe__recipeTitle, .recipe__ingredients, .recipe__description {
  margin-left: 20px;
}
.recipe__description {
  color: #1b1b1b;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 330px;
  height: 67px;
}
.recipe__span {
  font-size: 14px;
  color: grey;
}
.recipe__recipeTitle {
  font-size: 12px;
  color: grey;
  margin-top: 40px;
}
.recipe__ingredients {
  margin-bottom: 30px;
  width: 400px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.recipe__container {
  flex: 1 0 calc(50% - 18px);
}
.recipe__temps {
  border: 2px solid #ffd15b;
  background: #ffd15b;
  border-radius: 14px;
  width: 63px;
  height: 26px;
  position: absolute;
  margin-left: 300px;
  margin-top: 20px;
  text-align: center;
}
.recipe__card {
  width: 380px;
  background: #fff;
  border-radius: 21px;
  padding-bottom: 20px;
}
.recipe h3 {
  font-size: 18px;
  font-weight: 400px;
}

.header {
  position: relative;
}
.header__background {
  object-fit: cover;
  width: 100%;
  height: 667px;
}
.header__background.hidden {
  display: none;
}
.header__logo {
  position: absolute;
  top: 51px;
  left: 69px;
  width: 207px;
  height: 25px;
}
.header__content {
  position: absolute;
  transform: translate(-50%, 50%);
  top: 15%;
  left: 50%;
}
.header__title {
  font-family: "Anton", sans-serif;
  color: #ffd15b;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}
.header__input {
  position: relative;
  padding: 1.5em 8em 1.5em 2.1875em;
  border-radius: 11px;
  color: light grey;
  width: 100%;
  max-width: 954px;
}
.header__form {
  position: relative;
  width: 100%;
  border-radius: 0.6875em;
  display: flex;
}
.header__form i.fas.fa-search {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: white;
  background: black;
  padding: 12px;
  border-radius: 11px;
}
.header__form i.fas.fa-search:hover {
  background-color: #ffd15b;
  color: black;
}
.header__form i.fa-xmark {
  position: absolute;
  top: 50%;
  right: 45px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 12px;
  display: none;
}

/*# sourceMappingURL=style.css.map */
